In [81]:
import pandas as pd
import numpy as np
import decipy.executors as exe

matrix = np.array([
    [4, 3, 2, 4],
    [5, 4, 3, 7],
    [6, 5, 5, 3],
])
alts = ['A1', 'A2', 'A3']
crits = ['C1', 'C2', 'C3', 'C4']
beneficial = [True, True, True, True]
weights = [0.10, 0.20, 0.30, 0.40]
xij = pd.DataFrame(matrix, index=alts, columns=crits)

kwargs = {
    'data': xij,
    'beneficial': beneficial,
    'weights': weights,
    'rank_reverse': False,
    'rank_method': "ordinal"
}
wsm = exe.WSM(**kwargs)
wpm = exe.WPM(**kwargs)
moora = exe.Moora(**kwargs)
topsis = exe.Topsis(**kwargs)
vikor = exe.Vikor(**kwargs)

analizer = exe.RankSimilarityAnalyzer()
analizer.add_executor(wsm)
analizer.add_executor(wpm)
analizer.add_executor(moora)
analizer.add_executor(topsis)
analizer.add_executor(vikor)

results = analizer.analyze()

analizer.get_ranks_dataframe()

    WSM  WPM  Moora  Topsis  Vikor
A1  1.0  1.0    1.0     1.0    1.0
A2  3.0  3.0    3.0     3.0    3.0
A3  2.0  2.0    2.0     2.0    2.0

In [84]:
wsm_kwargs = {
    'data': rank_matrix,
    'beneficial': [True, True, True, True],
    'weights': [ round(x/sum(a), 3) for x in results],
    'rank_reverse': True,
    'rank_method': "ordinal"
}
wsm = exe.WSM(**kwargs)
wsm.get_normalized()

     C1   C2      C3    C4
A1  0.0  0.0  0.0000  0.25
A2  0.5  0.5  0.3333  1.00
A3  1.0  1.0  1.0000  0.00

In [85]:
wsm.dataframe

    RATE  RANK
A1  0.10   1.0
A2  0.65   3.0
A3  0.60   2.0