# MCDM Tutorial
By: Rizki Sasri Dwitama

In [45]:
import os
from decipy import executors as exe

matrix = exe.DataMatrix('D:\Gudang_Garam_salesman_data_2019.csv')
benefisial = [True, True, True, True, True, True, True, True, True, True, True, True, True, True]
bobot_criteria = [0.05, 0.08, 0.08, 0.08, 0.09, 0.08, 0.08, 0.08, 0.06, 0.05, 0.05, 0.05, 0.08, 0.09]
kwargs = {
    'data':matrix.data,
    'beneficial':benefisial,
    'weights':bobot_criteria
}

matrix.data.head(10)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
A1,98060000,8637000,1430000,125,42,205,3153000,91,176,4,32,2,2,2
A2,104520000,5282000,1740000,124,43,234,2024000,87,190,4,28,3,2,3
A3,102810000,5636000,1080000,140,32,174,3191000,95,181,3,34,3,2,2
A4,86310000,8416000,980000,114,37,219,3366000,88,187,4,23,1,1,1
A5,99640000,6424000,1940000,114,44,221,2543000,91,192,4,29,2,1,2
A6,103210000,7619000,860000,127,35,211,2686000,87,176,5,38,3,2,3
A7,100970000,8246000,1140000,135,39,215,947000,93,188,3,28,2,1,2
A8,89610000,6348000,1200000,118,35,192,1479000,96,185,3,31,3,2,2
A9,94240000,7205000,840000,96,30,180,3755000,87,193,5,28,3,1,2
A10,86900000,6707000,1040000,115,32,218,3638000,96,176,5,35,3,2,4

In [37]:
matrix.describe.round(3)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
count,8.300000e+01,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000
mean,9.464759e+07,7191433.735,1414216.867,117.723,34.940,196.735,2103578.313,92.181,178.289,3.867,30.349,1.928,1.434,2.434
std,5.958815e+06,1190384.937,363878.566,15.225,5.739,30.155,1214218.268,3.603,10.288,0.823,4.967,0.762,0.588,1.181
min,8.587000e+07,5282000.000,780000.000,93.000,25.000,148.000,276000.000,86.000,160.000,3.000,23.000,1.000,1.000,1.000
25%,8.983000e+07,6306500.000,1075000.000,106.000,30.000,172.000,986000.000,89.000,169.500,3.000,26.000,1.000,1.000,1.000
50%,9.384000e+07,7061000.000,1420000.000,118.000,34.000,191.000,2053000.000,92.000,178.000,4.000,30.000,2.000,1.000,2.000
75%,1.002250e+08,8082500.000,1740000.000,128.500,40.000,221.000,3260500.000,95.500,187.000,5.000,34.500,2.500,2.000,3.000
max,1.047700e+08,9477000.000,1990000.000,145.000,45.000,249.000,3992000.000,98.000,195.000,5.000,38.000,3.000,3.000,5.000

In [42]:
topsis = exe.Topsis(**kwargs)
topsis.get_normalized().describe().round(3)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
count,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000,83.000
mean,0.110,0.108,0.106,0.109,0.108,0.109,0.095,0.110,0.110,0.107,0.108,0.102,0.102,0.099
std,0.007,0.018,0.027,0.014,0.018,0.017,0.055,0.004,0.006,0.023,0.018,0.040,0.042,0.048
min,0.099,0.080,0.059,0.086,0.078,0.082,0.012,0.102,0.098,0.083,0.082,0.053,0.071,0.041
25%,0.104,0.095,0.081,0.098,0.093,0.095,0.045,0.106,0.104,0.083,0.093,0.053,0.071,0.041
50%,0.109,0.106,0.107,0.109,0.105,0.105,0.093,0.110,0.109,0.111,0.107,0.106,0.071,0.081
75%,0.116,0.122,0.131,0.119,0.124,0.122,0.148,0.114,0.115,0.139,0.123,0.132,0.142,0.122
max,0.121,0.143,0.150,0.134,0.140,0.137,0.181,0.117,0.120,0.139,0.136,0.159,0.213,0.203